# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# SWC
/.swc/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Misc
.DS_Store
*.log
.npm
.yarn-error.log
.pnpm-debug.log*

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Genkit
.genkit/cache
.genkit-tools.json

# Firebase
.firebase/
firebase-debug.log
database-debug.log
firestore-debug.log
storage-debug.log
ui-debug.log

# Editor-specific
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
